fastapi
uvicorn[standard]
python-multipart
pydicom
Pillow

# Install NUMPY FIRST (critical)
numpy==1.26.4

--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.1.0+cpu
torchvision==0.16.0+cpu
torchaudio==2.1.0+cpu
